body table {
    margin: auto;
    margin-top: 10%;
}
input.edit {
    transition: border-color 0.2s linear 0s;
    /* background: #FFF none repeat scroll 0% 0%; */
    padding: 5px 9px;
    border: 2px solid rgba(0, 39, 59, 0.2);
    border-radius: 4px;
    font-size: 13px;
    height: 32px;
}
input.edit:focus {
    border-color: #A9A9A9;
}
input.submit {
    margin: 10px;
    width: 80px;
    height: 30px;
}
