<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/themes/default/easyui.css">
    <link rel="stylesheet" href="/themes/icon.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.easyui.min.js"></script>
</head>
<body>
<table class="easyui-datagrid" title="Basic DataGrid">
    <thead>
    <tr>
        <th data-options="field:'name',width:80">Item ID</th>
        <th data-options="field:'type',width:100">Product</th>
        <th data-options="field:'listprice',width:80,align:'right'">List Price</th>
        <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
        <th data-options="field:'attr1',width:250">Attribute</th>
        <th data-options="field:'status',width:60,align:'center'">Status</th>
    </tr>
    </thead>
</table>
</body>
</html>